.header {
    top: 0;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 25px;
}

.header :active, :visited, :link{
    text-decoration: none;
    color: white;
}